.admincard-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 10px;
  border-radius: 10px;
  background: linear-gradient(45deg, #9001f5, #c3b0ea);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.admincard-availability {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
}

.admincard-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.edit-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.admincard-content-unavailable {
  background: linear-gradient(45deg, #8f01f55d, #c3b0ea4b);
  order: 1;
}

.admincard-content-available {
  order: 0;
}

.admingrid-eye {
  width: 20px;
  height: 20px;
  color: #ff0178;
}

.admingrid-pencil {
  width: 20px;
  height: 20px;
  color: #ff0178;
}

.adminCard-info-container {
  margin-bottom: 30px;
}

.gamecard-image {
  width: 50%;
}
.pricecard-img {
  width: 30%;
}

.adminCard-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f3f4f6;
}

.prizecard-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  gap: 10px;
  padding: 15px 10px;
  border-radius: 10px;
  background: linear-gradient(45deg, #9001f5, #c3b0ea);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
