.admingames-logo {
  width: 16%;
  position: relative;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.admingames-content {
  padding: 2rem;
  margin-top: 150px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.admingrid-card {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}
