.adminprizes-logo {
  width: 16%;
  position: relative;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.adminprizes-content {
  display: flex;
  padding: 2rem;
  margin-top: 150px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.admingrid-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}
