.user-profile-page-container {
  margin-bottom: 100px;
  padding: 20px;
}

.play-wg-logo-user-page {
  width: 20%;
  position: relative;
}

.user-profile-info-card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: #694fa6 2px solid;
  border-radius: 20px;
  background: linear-gradient(0deg, #5b4391, #1b142b);
  gap: 12px;
}

.user-profile-page-title {
  font-family: var(--font-title-phosphate);
  font-weight: 400;
  font-style: normal;
  color: var(--font-title-color);
  font-size: 8vw;
  text-align: center;
  padding: 12px;
}

.user-profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  border: #9001f5 2px solid;
  box-shadow: #c169ff 0px 0px 10px;
}

.h2-welcome-message {
  text-align: center;
}
.user-profile-stats-bar {
  display: flex;
  justify-content: space-around;
}

.user-profile-stats-total-points,
.user-profile-stats-rank,
.user-profile-stats-actual-points {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.user-profile-medal-icon,
.user-profile-gift-icon {
  width: 50px;
}

.user-profile-total-points-icon,
.user-profile-trophy-icon,
.user-profile-actual-points-icon {
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 1px yellow);
}

.user-profile-button-container {
  display: flex;
  justify-content: space-around;
}

.user-profile-ranking-button,
.user-profile-exchange-button {
  width: 130px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #6403a9;
  color: var(--font-title-color);
  padding: 8px 8px;
  border-radius: 50px;
  border: #9001f5 2px solid;
  cursor: pointer;
  overflow-wrap: normal;
  box-shadow: #c169ff 0px 0px 10px;
}

.user-profile-page-favorites-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
